# dependencies
node_modules/
.agent/

# Expo
.expo/
dist/
web-build/

# local env
.env
.env.*
!.env.example

# local media fixtures
video/*.mp4

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE / OS
.idea/
.DS_Store
Thumbs.db

.vscode/


android/
ios/
